@layer theme {
  *::selection {
    background-color: var(--color-accent);
    color: var(--color-primary);
  }

  html {
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    
    &.theme-light {
      --color-primary: var(--color-white);
      --color-secondary: var(--color-grey-light);
      --color-tertiary: var(--color-black);
      --color-accent: var(--color-blue);
    }

    &.typeface-comic-neue {
      --font-sans: "Comic Neue", sans-serif, system-ui;
    }
  }
  
  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    color: var(--color-muted);
    background-color: var(--color-primary);
  }

  a {
    color: var(--color-accent);
    text-decoration: none;
  }

  .wrapper {
    width: 100%;
    max-width: var(--breakpoint-2xl);
    margin-inline: auto;

    &-x {
      padding-inline: var(--app-outer-gutter);
    }

    &-y {
      padding-block: var(--app-outer-gutter);
    }
  }
}
